<div class="div">
  <h3>Crear Categoria</h3>

  <form [formGroup]="categoriaForm" (submit)="createCategoria()">
    <div class="row">
      <div class="col-lg-3">
        <label for="">Nombre</label>
        <input
          type="text"
          class="form-control"
          placeholder="Nombre categoria"
          formControlName="nombrecategoria"
        />
      </div>
    </div>
  </form>

  <div class="row">
    <div class="col-lg-12 d-flex mt-4 float-end">
      <div class="mr-2">
        <button
          type="submit"
          class="btn btn-primary"
          (click)="createCategoria()"
        >
          Crear
        </button>
      </div>
      <div>
        <button class="btn btn-danger mr-3" routerLink="['/tienda']">
          Cancelar
        </button>
      </div>
    </div>
  </div>
</div>
