<div class="card">
  <div class="card-body">
    <span class="text-lg mb-4 logo">
      <div class="divLogo"></div>
    </span>
  </div>

  <div>
    <span class="text-lg mb-6 textLogo">LOG IN</span>
  </div>

  <div class="div mb-3">
    <!-- <i class="fa fa-solid fa-user iconUser"></i> -->
    <input type="text" class="form-control inputLogin" placeholder="Username" />
  </div>

  <div class="div mb-3">
    <!-- <i class="fa fa-solid fa-user iconUser"></i> -->
    <input type="text" class="form-control inputLogin" placeholder="Password" />
  </div>

  <div class="content-btn">
    <button class="btn btn-primary buttonLogin">Login</button>
  </div>

  <div class="contentForgot">
    <a class="textForgot" routerLink="/auth/new-account">Register account</a>
  </div>
</div>
