<div class="card">
  <div class="card-body">
    <span class="text-lg mb-4 logo">
      <div class="divLogo"></div>
    </span>
  </div>

  <div>
    <span class="text-lg mb-6 textLogo">LOG ON</span>
  </div>

  <div class="div mb-3 d-flex justify-content-center">
    <div class="form-check mr-5">
      <input
        class="form-check-input"
        type="radio"
        name="flexRadioDefault"
        id="Admin"
      />
      <label class="form-check-label" for="Admin"> Admin </label>
    </div>
    <div class="form-check">
      <input
        class="form-check-input"
        type="radio"
        name="flexRadioDefault"
        id="User"
        checked
      />
      <label class="form-check-label" for="User"> User </label>
    </div>
  </div>

  <div class="div mb-3">
    <input type="text" class="form-control inputLogin" placeholder="Username" />
  </div>

  <div class="div mb-3">
    <input type="text" class="form-control inputLogin" placeholder="Password" />
  </div>

  <div class="div mb-3">
    <input
      type="text"
      class="form-control inputLogin"
      placeholder="Confirmation Password"
    />
  </div>

  <div class="content-btn">
    <button class="btn btn-primary buttonLogin">Register</button>
  </div>

  <div class="contentForgot">
    <a class="textForgot" routerLink="/auth/login">Log in</a>
  </div>
</div>
